body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28a745; /* Зеленый цвет для полос */
}
.canvas-container {
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
canvas {
    height: 100%;
    width: 100%;
    display: block;
}